/* Global
------------------------------------*/
header h1 {
    background: #A6CAD4;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 0;
}

body {
    background: #EDDDD0;
}

nav {
    background:#A6CAD4;
    text-align: center;
}

a:hover {
    color: gold;
}

ul.links {
    margin: 0;
    list-style-type: none;
}

footer {
    background: #A6CAD4;
}


/* Index
--------------------------------*/
div {
    display: flex;
    padding: 0;
    justify-content: center;
}

li a{
    padding: 15px;
    display: inline-block;
}


#photo-of-MJ{
    float: right;
}



/* Courses
---------------------------------*/



/* School
---------------------------------*/
#campus-text{
    font-weight: bold;
}

