/* Global
------------------------------------*/
header h1 {
    background: #A6CAD4;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 0;
}

body {
    background: #EDDDD0;
}

.grid-system {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

nav {
    background:#A6CAD4;
    margin: 0;
}

a:hover {
    color: gold;
}

.links{
    margin: 0;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li a{
    padding: 1em;
    display: inline;
    text-align: center;
}

footer {
    background: #A6CAD4;
    text-align: center;
}



/* Index
--------------------------------*/
#picture-container{
    padding: 2em;
    grid-column: 2 / 3;
    grid-row: 1 / -3;
    align-items: center;
    justify-content: center;
}




/* Courses
---------------------------------*/



/* School
---------------------------------*/
#campus-text{
    font-weight: bold;
}

aside{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}