#photo-of-MJ{
    height: 400px;
    width: 400px;
    float: right;
}

h1{
    color: #0d2048;
}

body{
    background-color: #3cec3b;
}

#BCIT-logo{
    height: 25px;
    width: 25px;
    position: absolute;
}